---
import { clsx } from 'clsx'
import Layout from '@/layouts/Layout.astro'
import ArticleList from '@/components/features/article/ArticleList/index.astro'

import articles from '@/contents/articles.json'
---

<Layout title="Article List">
  <div class={clsx('tw-py-4')}>
    <p>Article List</p>
    <div>
      <ArticleList
        articleList={{
          items: articles,
          pageInfo: {
            perPageCount: 20,
            totalItemCount: 5000,
            page: 1,
            lastPage: 250,
            hasPrev: false,
            hasNext: true,
          },
        }}
      />
    </div>
  </div>
</Layout>
