---
import { clsx } from 'clsx'

export interface Props {
  title: string
}

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <div class={clsx('tw-mx-auto', 'tw-w-full tw-max-w-[800px]')}>
        <slot />
      </div>
    </main>
  </body>
</html>
